*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
    min-height: 100vh;
}

.container{
    border: 2px solid red;
    border-radius: 4px;
    height:250px;
    width:350px;
    padding:40px;

}

h1{
    font-family: Arial, sans-serif;
    color: red;
    font-size:33px;
}

h2{
    margin:13px;
    font-size: 16px;
    text-decoration: none;
}
.inner-container{
   padding:9px;
   margin:9px;
   margin: 5px auto;
}

input{
    border: 1px solid red;
    margin-top: 7px;
    border-radius: 2px;
    text-align: center;

}
button{
    color: red;
    background-color: black;
    cursor: pointer;
    margin: 8px;
}

button:hover{
    background-color: red;
    color: black;
}