*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
    min-height: 100vh;
}

.container{
    border: 2px solid red;
    border-radius: 4px;
    height:250px;

}